  <% if @cart.line_items.any? %>
    <table class="table">
      <tr>
        <th>编号</th>
        <th>名称</th>
        <th>数量</th>
        <th>总价</th>
        <th></th>
      </tr>
      <% @cart.line_items.each_with_index do |line_item, index|%>
        <tr>
          <td> <%= index + 1 %></td>
          <td> <%= line_item.product.title %></td>
          <td> <%= number_field_tag :quantity, line_item.quantity, min: 1, id: "quantity_#{line_item.id}", class: "span1" %></td>
          <td><b id="<%= "line_item_#{line_item.id}_price"%>"><%= line_item.quantity * line_item.price %></b></td>
          <td><%= link_to "移除", cart_path(line_item_id: line_item), method: :delete, class: "btn btn-warning"%></td>
          <script>
            $(document).ready(function(){
              $("#<%= "quantity_#{line_item.id}"%>").change(function(){
                $.ajax({
                  type: "PUT",
                  beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
                  url: "cart",
                  data: {"line_item_id": <%= line_item.id%>, "quantity": $("#<%= "quantity_#{line_item.id}"%>").val()}
                  }).done(function(response) {
                  if(response["state"] == "successful"){
                    } else {
                  }
                  $("#<%= "quantity_#{line_item.id}"%>").val(response["quantity"]);
                  $("#<%= "line_item_#{line_item.id}_price"%>").text(response["price"]);
                  refresh_total_price();
                });
              });
            });
          </script>
        </tr>
      <% end %>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>总价:<b id="total_price"></b></td>
      </tr>
    </table>
    <div class="checkout">
      <%= form_tag orders_path, method: :post, class: "new_order" do %>
        名字:<%= text_field_tag :name, current_user.name, placeholder: "名字", class: "span2"%><br />
        电话:<%= text_field_tag :phone, current_user.phone, placeholder: "电话", class: "span2" %> <br />
        地址:<%= text_field_tag :address, current_user.address, placeholder: "地址" %><br />
        留言:<%= text_field_tag :message,"", class: "span4", placeholder: "如果需要的话 在此留言" %><br />
        <%= submit_tag "下单", class: "btn btn-large btn-primary pull-right", id: "checkout"%>
      <% end %>
    </div>
  <% else %>
    <h3>
      <p align="center">
        你的购物车现在还为空哦，赶快去买点东西吧 ^_^
      </p>
    </h3>
  <% end %>
  
  <script>
  function refresh_total_price(){
    $.ajax({
      type: "GET",
      beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
      url: "cart/total_price",
      data: {}
      }).done(function(response) {
      var free_deliver_price  =  response["free_deliver_price"];
      var total_price = response["total_price"]

      $("#total_price").text(total_price);
      console.log((total_price <= free_deliver_price))
      console.log(total_price)
      console.log(free_deliver_price)
      if((total_price - free_deliver_price)>= 0){
        $("#checkout").val("点我下单啦");
        $("#checkout").removeAttr('disabled');
        }else{
        $("#checkout").val("还差"+ (free_deliver_price - total_price).toString() + "元就可以下单咯");
        $("#checkout").attr('disabled','disabled');
      }
    });
  }



  $(document).ready(function(){
    refresh_total_price();
  });
</script>
