
<div class="container">

  <ul class="nav nav-tabs">
    <li>
      <a href="/profile">收货地址</a>
    </li>
    <li class="active">
    <a href="#">修改密码</a></li>
  </ul>

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
    <%= devise_error_messages! %>

    <fieldset>
      <div id="legend" class="">
        <legend class="">修改密码</legend>
      </div>

      <div class="control-group">
        <!-- Prepended text-->
        <label class="control-label"></label>
        <div class="controls">
          <div class="input-prepend">
            <span class="add-on">邮箱</span>
            <%= f.email_field :email, :autofocus => true , class: "span2"%></div>
        </div>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>现在需要在此邮箱确认 <%= resource.unconfirmed_email %></div>
      <% end %>
      <div class="control-group">
        <label class="control-label"></label>
        <div class="controls">
          <div class="input-prepend">
            <span class="add-on">新密码</span>
            <%= f.password_field :password,  :autocomplete => "off", class: "span2", placeholder: "请输入新密码"%>
          </div>
        </div>
        <i>如果你不想修改密码，请留空</i>
      </div>

      <div class="control-group">
        <label class="control-label"></label>
        <div class="controls">
          <div class="input-prepend">
            <span class="add-on">确认新密码</span>
            <%= f.password_field :password_confirmation, class: "span2", placeholder: "请输入新密码"%>
          </div>
        </div>
      </div>


      <div class="control-group">
        <label class="control-label"></label>
        <div class="controls">
          <div class="input-prepend">
            <span class="add-on">当前密码</span>
            <%= f.password_field :current_password, class: "span2", placeholder: "请输入当前密码"%>
          </div>
        </div>
        <i>我们需要当前密码确认身份</i>
      </div>

      <div class="control-group">
        <label class="control-label"></label>
        <div class="controls">
          <%= f.submit "确认", class: "btn btn-success"%>
        </div>
      </div>
    </fieldset>

  <% end %>
  <h3>删除当前账户</h3>

  <p><%= button_to "删除我的账户", registration_path(resource_name), :data => { :confirm => "确定要删除你的账户么? 此操作不能恢复！" }, :method => :delete %></p>
</div>
