<div class="container">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span8">
        <%= image_tag "https://static.ele.me/images/forward/global/logreg-bg-app.png"%>
        <p class="span6 offset2">
          <br />
          <br />
          <br />
          食物说：不要离开我...
        </p>
      </div>
      <div class="span4">


        <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>
          <fieldset>
            <div id="legend" class="">
              <legend class="">注册</legend>
            </div>

            <div class="control-group">
              <!-- Prepended text-->
              <label class="control-label"></label>
              <div class="controls">
                <div class="input-prepend">
                  <span class="add-on">邮箱</span>
                  <%= f.email_field :email, :autofocus => true, class: "span6", placeholder: "请输入注册邮箱"%></div>
              </div>
            </div>


            <div class="control-group">
              <label class="control-label"></label>
              <div class="controls">
                <div class="input-prepend">
                  <span class="add-on">密码</span>
                  <%= f.password_field :password_confirmation, class: "span6", placeholder: "请输入密码"%></div>
              </div>
              <p class="help-block"></p>
            </div>

            <div class="control-group">
              <label class="control-label"></label>
              <div class="controls">
                <div class="input-prepend">
                  <span class="add-on">确认</span>
                  <%= f.password_field :password, class: "span6", placeholder: "请再次输入密码"%></div>
              </div>
              <p class="help-block"></p>
            </div>



            <div class="control-group">
              <label class="control-label"></label>
              <div class="controls">
                <%= f.submit "注册", class: "btn btn-success"%>
              </div>
            </div>
          </fieldset>
        <% end %>

        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
