<td class="span2">
  <div class="product_item">
    <div class="product_avatar">
      <%= image_tag product.avatar(:medium), size: "200x150", class:"img-rounded" %>
    </div>
    <div class="product_title center">
      <%= product.title %>
    </div>
    <div class="product_price pull-right">
      <%= product.price %>元
    </div>
    <div class="product_sales_volume">
     售出<%= product.sales_volume %>份
    </div>
    <div class="product_info">
      <a href="#product_modal" role="button" class="btn btn-small product_detail" data-toggle="modal" id="product_<%= product.id%>">详情</a>
      <% if product.store.can_ordered? %>
        <% if user_signed_in? %>
          <%= link_to "来一份", cart_path(product_id: product), class: "btn btn-small pull-right", method: :post, remote: true%>
        <% else%>
          <%= link_to "来一份", new_user_session_path, class: "btn btn-small pull-right"%>
        <% end %>
      <% else %>
        <%= link_to "休息中", "javascript:void(0)", class: "btn btn-small pull-right", disabled: true%>
      <% end %>
    </div>
  </div>
</td>
<script>
  $(document).ready(function(){
    $("#product_<%=product.id%>").click(function(){
      $('#product_modal_body').load('<%= product_path(product)%>');


      <% if product.can_be_ordered? %>
        <% if user_signed_in? %>
      $("#product_modal_submit").replaceWith('<%= link_to "来一份", cart_path(product_id: product), id:"product_modal_submit", class: "btn btn-primary", method: :post, remote: true%>');
        <% else%>
          $("#product_modal_submit").replaceWith('<%= link_to "来一份", new_user_session_path, id:"product_modal_submit", class: "btn btn-primary"%>');
        <% end %>
      <% else %>
          $("#product_modal_submit").replaceWith('<%= link_to "休息中", "javascript:void(0)", id:"product_modal_submit", class: "btn btn-primary", disabled: true%>');
      <% end %>
    });
  });
</script>
