<div>
  <td class="span2">
    <div class="store_item store_item_<%= store.id%>">
      <%= image_tag store.avatar.url%>

      <div class="store_name">
        <%= store.name %>
      </div>
      <% if store.opened?%>
        <div class="store_state_closed">
          <p class="center">营业中</p>
        </div>
      <% else %>
        <div class="store_state_closed">
          <p class="center">休息中</p>
        </div>
      <% end %>
      <%= store.description%>
    </div>
  </td>

  <% store.products.up.limit(3).each do |product|%>
    <%= render "product", product: product%>
  <% end %>

<td class="span1">
  <div class="more_products store_item_<%= store.id%>">
    <%= link_to "更多", stores_path(store) %><br />
    <%= link_to ">>>", stores_path(store) %><br />
    
  </div>
</td>


</div>

<script>
  $(document).ready(function(){
    $(".store_item_<%= store.id%>").click(function(){
      window.location = "<%= store_path(store)%>";
    });
  });
 </script>
