<div>
  <td class="span2">
    <div class="store_item" id="store_item_<%= store.id%>">
      <%= image_tag store.avatar.url%>

      <div class="store_name">
        <%= store.name %>
      </div>
      <% if store.opened?%>
        <div class="store_state_closed">
          <p class="center">营业中</p>
        </div>
      <% else %>
        <div class="store_state_closed">
          <p class="center">休息中</p>
        </div>
      <% end %>

      <a href="javascript:void(0)">产品列表</a>
    </div>
  </td>
  <% store.products.each do |product|%>
    <%= render "product", product: product%>
  <% end %>
</div>

<script>
  $(document).ready(function(){
    $("#store_item_<%= store.id%>").click(function(){
      window.location = "<%= store_path(store)%>";
    });
  });
 </script>
