<tr>
  <div class="store " id="store_<%= store.id %>">
  <td class="span2">
    <div class="store_item store_item_<%= store.id%>">
      <%= image_tag store.avatar(:medium), size: "100x100" %>

      <div class="store_name">
        <%= store.name %> <br/><br/>
      </div>
      <% if store.opened?%>
        <div class="store_state_closed">
          <p class="center">营业中</p>
        </div>
      <% else %>
        <div class="store_state_closed">
          <p class="center">休息中</p>
        </div>
      <% end %>

      <div class="free_deliver_price">
        <i class="icon-shopping-cart"></i> <%= "#{store.free_deliver_price.to_i} 元"%>
    </div>

    <div id="deliver_area_<%= store.id%>" class="pull-right deliver_area">
      <a>送货范围</a>
    </div>
    </div>
  </td>

  <% store.products.up.limit(4).each do |product|%>
    <%= render "product", product: product%>
  <% end %>

  <% if store.products.up.count > 4  %>
    <td class="span1">
      <div class="more_products store_item_<%= store.id%>">
        <%= link_to "更多", store_path(store) %><br />
        <%= link_to ">>>", store_path(store) %><br />
      </div>
    </td>
  <% end %>


</div>

<script>
  
  $("#deliver_area_<%= store.id%>").popover({
    html:true,
    content:"<%= store.deliver_area.html_safe if store.deliver_area.present? %>",
    trigger: "hover",
    container: 'body',
  });

  $(document).ready(function(){
    $(".store_item_<%= store.id%>").click(function(){
      window.location = "<%= store_path(store)%>";
    });
  });
</script>
</tr>
