<div class="container">
  <%= link_to "增加产品", new_storer_product_path %>
  <table class="table">
    <caption>产品列表</caption>
    <tr>
      <th>名称</th>
      <th>描述</th>
      <th>销量</th>
      <th>评分</th>
    </tr>
    <% @store.products.each do |product|%>
      <tr>
        <td><%= product.title %></td>
        <td><%= product.description %></td>
        <td><%= product.sales_volume%></td>
        <td><%= %></td>
      </tr>
    <% end %>
  </table>
</div>
