<div class="container">
  <ul class="nav nav-tabs">
    <li>
      <a href="<%= admin_path%>">网站状态</a>
    </li>
    <li><a href="<%= admin_storers_path%>">商家列表</a></li>
    <li class="active"><a href="<%= admin_products_path%>">产品列表</a></li>
  </ul>


  <%= link_to "增加产品", new_admin_product_path, class: "btn btn-primary" %>
  <table class="table">
    <caption>产品列表</caption>
    <tr>
      <th>名称</th>
      <th>价格</th>
      <th>描述</th>
      <th>销量</th>
      <th></th>
      <th>状态</th>
    </tr>
    <% @products.each do |product|%>
      <% if product.up?%>
        <tr class="success">
        <% else %>
          <tr class="error">
          <% end %>
        <td><%= product.title %></td>
        <td><%= product.price %></td>
        <td><%= product.description %></td>
        <td><%= product.sales_volume%></td>
        <td><%= link_to "编辑", edit_admin_product_path(product), class: "btn"%></td>
      <% if product.up?%>
        <td>上架&nbsp; &nbsp; <%= link_to "点此下架", down_admin_product_path(product), method: :put, class: "btn btn-danger"%></td>
        <% else %>
        <td>下架&nbsp; &nbsp; <%= link_to "点此上架", up_admin_product_path(product), method: :put, class: "btn btn-success"%></td>
      <% end %>
      </tr>
    <% end %>
  </table>
</div>
