<div class="container">
  <p>
    商店名称 <%= @store.name %>
</p>
<p>
  商店描述 <%= @store.description%>
</p>
<% if @store.opened? %>
  状态：营业中
<%= link_to "关闭商店", storer_store_close_path, method: :put, class: "btn btn-danger", confirm: "你确认要关闭商店么?"%>
<% else %>
  状态：已关闭
  <%= link_to "开始营业", storer_store_open_path, method: :put, class: "btn btn-success"%>
<% end %>
<%= link_to "产品列表", storer_products_path %>
<%= link_to "订单列表", storer_orders_path %>
<%= link_to "增加产品", new_storer_product_path %>
<a href="#myStore" role="button" class="btn" data-toggle="modal">编辑商店</a>
</div>

<!-- Modal -->
<div id="myStore" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">编辑商店</h3>
  </div>
  <div class="modal-body">
    <%= form_for @store, url: storer_path, method: :put do |f|%>
      <%= f.text_field :name, placeholder: "商店名称" %><br/>
      <%= f.text_area :description, placeholder: "商店描述"%>
      <%= f.text_field :free_deliver_price, placeholder: "输入达到多少钱可以免费送餐" %>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
    <%= f.submit "确定", class:"btn btn-primary"%>
  </div>
<% end %>
</div>
