<div class="container">
  <ul class="nav nav-tabs">
    <li class="active">
      <a href="<%= storer_path%>">商店状态</a>
    </li>
    <li><a href="<%= storer_products_path%>">产品列表</a></li>
    <li><a href="<%= storer_orders_path%>">订单列表</a></li>
  </ul>


<% if @store.opened? %>
  <h2 class="text-success"> 营业中 </h2>
  <%= link_to "关闭商店", storer_store_close_path, method: :put, class: "btn btn-danger", confirm: "你确认要关闭商店么?"%>
<% else %>
  状态：<h2 class="text-danger"> 已关闭 </h2>
  <%= link_to "开始营业", storer_store_open_path, method: :put, class: "btn btn-success"%>
<% end %>
<a href="#myStore" role="button" class="btn" data-toggle="modal">编辑商店</a>
<div>
  <br />
  <%= image_tag @store.avatar.url(:thumb)%>
</div>
  <p>
    <br/>商店名称: <%= @store.name %>
</p>
<p>
  商店描述:<br />
  <%= @store.description.html_safe if @store.description.present?%>
</p>
</div>

<!-- Modal -->
<div id="myStore" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">编辑商店</h3>
  </div>
  <div class="modal-body">
    <%= form_for @store, url: storer_path, method: :put do |f|%>
      商店名称<%= f.text_field :name, placeholder: "商店名称", required: true %><br/>
      商店头像:<%= f.file_field :avatar%>
    <br />
    商店描述<br/><%= f.kindeditor :description, :window_onload => true, placeholder: "将显示在商店左边", required: true%>
  <br/>
  起送价:
      <div class="input-prepend input-append">
        <span class="add-on">¥</span>
        <%= f.text_field :free_deliver_price, placeholder: "输入达到多少钱可以免费送餐", required: true %>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
      <%= f.submit "确定", class:"btn btn-primary"%>
    </div>
  <% end %>
</div>
