<div class="container">
  
  <ul class="nav nav-tabs">
    <li class="active">
      <a href="<%= admin_path%>">网站状态</a>
    </li>
    <li><a href="<%= admin_storers_path%>">商家列表</a></li>
    <li><a href="<%= admin_stores_path%>">商店列表</a></li>
    <li><a href="<%= admin_products_path%>">产品列表</a></li>
    <li><a href="<%= admin_carousels_path%>">轮播列表</a></li>
  </ul>



  <p>
    当前短信剩余量: <%= SMS.new.balance%>
</p>
</div>
