<div class="container">
  <ul class="nav nav-tabs">
    <li class="active">
      <a href="#">收货地址</a>
    </li>
    <li><%= link_to "修改密码", edit_user_registration_path%></a></li>
  </ul>



  <%= form_tag "profile", method: :put, class:"form-horizontal" do%>
    <fieldset>
      <div id="legend" class="">
        <legend class="">收货地址</legend>
      </div>

      <div class="control-group">
        <!-- Text input-->
        <label class="control-label" for="input01">手机号码</label>
        <div class="controls">
          <%= text_field_tag :phone, "", value:@user.phone, class:"input-xlarge",placeholder:"输入你的手机号码", required: "true"%> *
        </div>
        </div>
        
        <div class="control-group">
        <!-- Textarea -->
        <label class="control-label">地址</label>
        <div class="controls">
          <%= text_area_tag(:address, @user.address, style:"margin: 0px; width: 273px; height: 74px;", required: "true") %> *
        </div>
        
        <br />
        
        <div class="control-group">
        <!-- Text input-->
        <label class="control-label" for="input01">姓名</label>
        <div class="controls">
          <%= text_field_tag :name, "", value:@user.name, class:"input-xlarge",placeholder:"输入你的姓名"%>
        </div>
      </div>


        <div class="control-group">
          <!-- Button -->
          <div class="controls">
            <br />
            <%= submit_tag "保存", class:"btn btn-primary"%>
          </div>
        </div>

    </fieldset>

  <% end %>
</div>
