<div class="container">

  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="/">Project</a>
        <div class="nav-collapse">
          <ul class="nav">
            <li><a href="/">主页</a></li>
            <li><%= link_to "商家", stores_path %></li>
          </ul>
        </div><!--/.nav-collapse -->
        <div class="container">
          <ul class="nav pull-right">
            <% if user_signed_in? %>
              <% if current_user.has_any_role? :admin, :storer%>
                <li>
                  <div class="btn-group">
                    <a class="btn dropdown-toggle btn-success" data-toggle="dropdown" href="#">
                      <i class="icon-user icon-white"></i> 管理
                      <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                      <% if current_user.storer? %>
                        <li>  <%= link_to "商家页面   ", storer_path , class:"span"%> </li>
                      <% end %>
                      <% if current_user.admin? %>
                        <li> <%= link_to "管理员页面", admin_path, class:"span" %> </li>
                      <% end %>
                    </ul>
                  </div>
                </li>
              <% end %>
              <li id="cart_field">
                <a href="#cart_modal" id="cart" role="button" data-toggle="modal">购物车</a>
              </li>
              <li id="cart_number">
                <span class="badge badge-success"><%= CartDomain.get_products_number current_user%></span>
              </li>
              <li><%=link_to "我的订单", orders_path %></li>
              <li><%= link_to "收货地址", "profile"%></li>
              <li><%= link_to "退出", destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to "登录", new_user_session_path%></li>
              <li> <%= link_to "注册", new_user_registration_path%> </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


<!--cart Modal -->
<div id="cart_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">购物车</h3>
  </div>
  <div class="modal-body" id="cart_modal_body">
    载入中...
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
  </div>
</div>

<script>
  $("#cart").click(function(){
    $.ajax({
      type: "GET",
      beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
      url: "/cart/",
      data: {}
      })
  });
</script>


  <br />
  <br />
